<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background pb-9" room="<%= @room.uid %>" user="<%= current_user ? current_user.uid : "anonymous" %>" join-name="<%= @join_name %>">
  <div class="container">
    <div class="row pt-9">
      <div class="col-lg-12 col-sm-12">
        <h4 class="text-left"><%= t("room.invited") %></h4>
        <%- if  @room.recording? %>
          <h4 class="text-left text-danger"><%= I18n.t("room.recording_present", pp_link: "/b/terms").html_safe%></h4>
          <% if Rails.configuration.terms %>

              <div class="form-inline">
                <label class="custom-switch">
                  <input name="user[accepted_terms]" type="hidden" value="0"><input class="custom-switch-input form-control " placeholder="Password Confirmation" type="checkbox" value="1" name="user[accepted_terms]" id="user_accepted_terms">
                  <span class="custom-switch-indicator cursor-pointer"></span>
                </label>
                <label class="ml-1" for="user_accepted_terms">I accept the <a target="_blank" class="ml-1 text-blue" href="/b/terms">Privacy Policy</a></label>
                <div class="invalid-feedback d-block"></div>
              </div>



            <div class="form-inline">
              <label class="custom-switch">
                <%= check_box :accepted_terms, class: "custom-switch-input form-control", placeholder: t("signup.password_confirm") %>
                <span class="custom-switch-indicator cursor-pointer"></span>
              </label>
              <%= label :accepted_terms, t("terms.accept", href: link_to(t("terms.title"), terms_path, target: "_blank", class: "ml-1 text-blue")).html_safe, class: "ml-1" %>
              <div class="invalid-feedback d-block"><%= "Feedback" %></div>
            </div>



            <div class="btn-list text-right pt-8">
              <%= button_to t("terms.accept_existing"), terms_path, params: { accept: true }, class: "btn btn-primary btn-space", "data-disable": "" %>
            </div>
          <% end %>
        <% end %>
        <h1 class="display-3 text-left mb-3 font-weight-400"><%= @room.name %></h1>
        <hr class="mt-2 float-left w-25">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 form-inline mb-5 align-top">
        <% if @room.owner.image.blank? %>
          <span class="avatar"><%= @room.owner.name.first %></span>
        <% else %>
          <span class="avatar" style="background-image: url(<%= @room.owner.image %>)"></span>
        <% end %>
        <h5 class="font-weight-normal ml-4 mt-3"><%= @room.owner.name %> (<%= t("room.owner") %>)</h5>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
      <%= yield %>
      </div>
    </div>
  </div>
</div>

<% if render_recordings %>
  <%= render "shared/sessions", recordings: @public_recordings, pagy: @pagy, only_public: true, user_recordings: false, title: t("room.recordings") %>
<% end %>
